.image {
	box-shadow: rgba(0, 0, 0, 0.496094) -1px 2px 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.496094) -1px 2px 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.496094) -1px 2px 5px;
	transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	background: white;
	padding: 10px;
	position: relative;
}

.frame {
	box-shadow: rgba(0, 0, 0, 0.496094) -1px 2px 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.496094) -1px 2px 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.496094) -1px 2px 5px;
	-o-box-shadow: rgba(0, 0, 0, 0.496094) -1px 2px 5px;
	transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	margin: auto;
	z-index: 3;
	margin: 20px auto;
}